@model IEnumerable<ProjectManagement.DataContextModels.ProjectStudentChoice>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalRejectionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedRejectedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updater)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalRejectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedRejectedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updater.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
